@use 'mixins/mixins' as *;
@use 'common/var' as *;

@include b(button) {
  align-items: center;
  display: inline-flex;
  cursor: pointer;
  outline: none;
  border: 1px solid var(--ax-border-color);
  border-radius: var(--ax-border-radius);
  user-select: none;
  min-height: 40px;
  line-height: 1;
  vertical-align: middle;
  padding: 0 20px;
  transition: all var(--ax-transition-duration) ease;

  @include m(medium) {
    padding: 0 20px;
  }

  @include m(small) {
    padding: 0 18px;
  }

  @include m(large) {
    padding: 0 25px;
  }

  @include when(disabled) {
    &,
    &:hover,
    &:focus {
      cursor: not-allowed;
      opacity: 0.6;
    }
  }

  @include when(round) {
    border-radius: var(--ax-border-radius-round);
  }

  @include m(primary) {
    color: var(--ax-color-white);
    background: var(--ax-color-primary);
    border-color: var(--ax-color-primary);

    &:hover {
      background: var(--ax-color-primary-dark);
      border-color: var(--ax-color-primary-dark);
    }
  }

  @include m(success) {
    color: var(--ax-color-white);
    background: var(--ax-color-success);
    border-color: var(--ax-color-success);
  }

  @include m(warning) {
    color: var(--ax-color-white);
    background: var(--ax-color-warning);
    border-color: var(--ax-color-warning);
  }

  @include m(danger) {
    color: var(--ax-color-white);
    background: var(--ax-color-danger);
    border-color: var(--ax-color-danger);
  }
}
