@use './mixins/mixins.scss' as *;
@use 'common/var' as *;

@include b(tree) {
  display: inline-block;
  width: 100%;
}

@include b('tree-node') {
  padding: 5px 0;
  font-size: 16px;

  &:hover {
    background-color: var(--ax-color-primary-light);
  }

  @include e('expand-icon') {
    display: inline-block;
    vertical-align: middle;
    transform: rotate(0deg);
    transition: transform var(--ax-transition-duration) ease-in;
    cursor: pointer;
    &.expanded {
      transform: rotate(90deg);
    }
    &.is-leaf {
      visibility: hidden;
      cursor: default;
    }
  }

  @include when(selected) {
    background-color: var(--ax-color-primary-light);
  }

  @include e('content') {
    display: flex;
  }

  @include e('label') {
    flex: 1;
  }

  &:not(.is-disabled) {
    .ax-tree-node__label {
      cursor: pointer;
    }
  }
  &.is-disabled {
    .ax-tree-node__label {
      cursor: not-allowed;
    }
  }
}
